#order-creation {
  .create-order {
    float: right;
  }
  .holder {
    background-color: white;
    padding: 20px;
    .customer {
      background-color: white;
      border-right: 1px solid #eeeeee;
      position: relative;
      .customer-details {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 20px;
        td {
          padding: 3px;
        }
      }
    }

    .results {
      position: absolute;
      width: 100%;
    }

    #customer-search-box {
      .results {
        margin-top: -27px;
      }
    }

    .section {
      padding: 20px;
      h3 {
        margin-top: 0;
      }
      .search {
        margin-right: 0;
      }

      .entity-table {
        margin-top: 20px;

        .table.listing {
          td {
            padding: 12px 12px !important;
          }
          .total {
            td {
              border-top: 2px solid #ddd;
            }
          }
          input {
            padding: 1%;
            text-align: center;
          }
        }
      }
    }
  }
}