.entity-table {
  .pagination {
    width: 100%;
    margin-top: 0;

    .showing {
      display: flex;
      width: 30%;
      float: left;
       p {
         padding: 1% 0;
         margin: 0;
         color: darken($grey, 20%);
       }

    }
    .next-prev {
      float: right;
      text-align: right;
      .per-page {
        float: right;
        select {
          border: none;
          float: right;
          color: darken($grey, 20%);
          option {
            color: darken($grey, 20%);
          }
        }
      }
      .buttons {
        float: right;
        button {
          background-color: $white;
          color: darken($grey, 20%);
          &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-right: 1px solid #EFEFEF;
          }
          &:last-child {
            margin-left: -4px;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
        }
      }
    }
  }

  .table.listing {
    background-color: $white;
    thead {
      th {
        text-transform: uppercase;
        padding: 5px 12px !important;
        border-bottom: 1px solid #ddd !important;
        cursor: pointer;
      }
    }
    tr {
      td {
        padding: 5px 12px !important;
        vertical-align: inherit;
        ul {
          padding-left: 17px;
          margin-bottom: 0;
        }
        .status {
          text-transform: uppercase;
          padding: 1% 5%;
          border-radius: 5px;
          font-size: 13px;
          border: none !important;
          font-weight: 700;
          &.green {
            color: $green;
          }
          &.orange {
             color: $orange;
          }
          &.blue {
            color: $blue;
          }
          &.purple {
            color: $purple;
          }
        }
      }
    }
    .total {
      td {
        border-top: 2px solid #ddd;
      }
    }
  }

}