.search {
  margin-right: 5%;

  span.input-group-addon {
    border: none;
    border-top: 2px solid #e0e0e0;
  }

  input {
    background-color: #EFEFEF;
    border: none;
    box-shadow: none;
    border-top: 2px solid #e0e0e0;
  }

}

/**
* Addresses
*/
.addresses {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .address {
    padding-left: 5px;
    padding-right: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    &:nth-of-type(even) {
      padding-right: 0 !important;
    }
    &:nth-of-type(odd) {
      padding-left: 0 !important;
    }
    .contents {
      background-color: #EFEFEF;
      border-top: 2px solid #e0e0e0;
      margin-bottom: 15px;
      border-radius: 4px;
      margin-top: 11px;
      padding: 15px !important;
      margin-left: 5px;
      margin-right: 5px;
      width: 100%;
      &:nth-of-type(odd) {
        margin-left: 0;
      }
      &:nth-of-type(even) {
        margin-right: 0;
      }
      .actions {
        margin-top: 11px;
        button {
          width: 100%;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      h5 {
        text-transform: uppercase;
        margin-top: 0;
        font-weight: 700;
      }
      span {
        display: inline-block;
        width: 100%;
      }
    }

    &.primary {
      .contents {
        border-color: $green;
      }
    }

  }

  .address.selected {
    .contents {
      background-color: #dff0d8;
      border-top: 2px solid #3c763d;
    }
  }
}

/**
* Buttons
*/
.purple {
  border: none !important;
  color: $white !important;
  background-color: $purple !important;
  &:hover {
    background-color: $purpleHover !important;
  }
  &.hollow {
    color: $white !important;
    border: 1px solid $purple !important;
  }
}
.blue {
  border: none !important;
  color: $white !important;
  background-color: $blue !important;
  &:hover {
    background-color: $blueHover !important;
  }
  &.hollow {
    color: $white !important;
    border: 1px solid $blue !important;
  }
}
.grey {
  border: none !important;
  color: $black !important;
  background-color: $grey !important;
  &:hover {
    background-color: $greyHover !important;
  }
  &.hollow {
    color: $grey !important;
    background-color: $black !important;
    border: 1px solid $grey !important;
  }
}

.green {
  border: none !important;
  color: $white !important;
  background-color: $green !important;
  &:hover {
    color: $white !important;
    background-color: $greenHover !important;
  }
  &.hollow {
    color: $green !important;
    background-color: $white !important;
    border: 1px solid $green !important;
  }
}

.orange {
  border: none !important;
  color: $white !important;
  background-color: $orange !important;
  &:hover {
    color: $white !important;
    background-color: $orangeHover !important;
  }
  &.hollow {
    color: $orange !important;
    background-color: $white !important;
    border: 1px solid $orange !important;
    &:hover {
      color: $white !important;
      background-color: $orange !important;
    }
  }
}

.red {
  border: none !important;
  color: $white !important;
  background-color: $red !important;
  &:hover {
    color: $white !important;
    background-color: $redHover !important;
  }
  &.hollow {
    color: $red !important;
    background-color: $white !important;
    border: 1px solid $red !important;
    &:hover {
      color: $white !important;
      background-color: $red !important;
    }
  }
}

.modal {
  overflow: scroll !important;
}

form {
  label {
    text-transform: uppercase;
  }
}

.modal {
  .modal-content {
    border-radius: 2px;
    box-shadow: none;

    button[type="submit"] {
      width: 100%;
    }

    input, textarea {
      @include inputText()
    }

  }
}

.errors {
  div {
    &:last-of-type {
      margin-bottom: 15px;
    }
    p {
      color: $red;
      margin: 0;
    }
  }
}