
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #000;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$background: #323232;
$sidebarColor: #323232;

// Colour
$black: #000;
$red: #e74c3c;
$redHover: darken($red, 5%);
$blue: #3498db;
$blueHover: #darken($blue, 5%);
$purple: #9b59b6;
$purpleHover: #darken($purple, 5%);
$white: #FFF;
$orange: #EB9532;
$orangeHover: darken($orange, 5%);
$green: #2ecc71;
$greenHover: darken($green, 5%);
$grey: #e0e0e0;
$greyHover: darken($grey, 5%);
$lightGrey: #EFEFEF;
$lightGreyHover: darken($lightGrey, 5%);


@mixin inputText() {
  background-color: #EFEFEF;
  border: none;
  box-shadow: none;
  border-top: 2px solid #e0e0e0;
  color: black !important;
}